<div class="box">
  <div class="pic">
    <img
      src="assets/Image/javascript.svg"
      alt=" دوره جامع و پیشرفته جاوااسکریپت "
    />
  </div>
  <div class="main-para">
    <div class="matn">
      <h2>دوره جامع و پیشرفته {{ products?.productName }}</h2>
    </div>
    <div class="time">
      <div class="save">
        <p>تکمیل ضبط</p>
        <i class="fa-solid fa-microphone"></i>
      </div>
      <div class="clock">
        <p>34:07:00</p>
        <i class="fa-regular fa-clock"></i>
      </div>
    </div>
    <div class="link">
      <a [routerLink]="[products?.id]"
        ><i class="fa-solid fa-arrow-left"></i> مشاهده اطلاعات دوره
      </a>
    </div>
  </div>
  <hr />
  <div class="footer">
    <div class="buy">
      <button>ثبت نام دوره</button>
    </div>
  </div>
</div>
