<!-- <h1>
  {{ (user?.firstName || "") + " " + (user?.lastName || "") }} عزیز خوش آمدید
</h1> -->
<header>
  <div class="logo-content">
    <img class="logo" src="assets/logo/logo.png" alt="کدنویس">
  </div>
  <div>
    <div class="menu-box">
      <ul class="menu">
        <li class="edjucate">
          <mat-icon><i class="icon-archive-book"></i></mat-icon>
          دوره های آموزشی
        </li>
        <li>ارتباط با ما</li>
      </ul>

      <div>
        <button class="login-btn" [routerLink] = "['/login']">
          ورود
        </button>
      </div>
    </div>
  </div>
</header>