a {
  text-decoration: none;
}
.page {
  height: 100vh;
  display: flex;

  /* برای والد باکس و بعدی برای خود باکس */
  .right {
    width: 20%;
    position: relative;
    .box {
      border: 2px solid #eee;
      width: 23rem;
      background-color: white;
      border-radius: 20px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      position: absolute;
      padding-bottom: 1rem;
      padding-bottom: 1rem;
      right: 50%;
      top: 25%;
    }
  }
}

.up-box h2 {
  text-align: center;
  font-weight: 900;
}
.up-box p {
  padding-right: 1.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.main-box {
  padding-right: 1.5rem;
  line-height: 1rem;
}
.main-box p {
  opacity: 0.7;
}
.main-box label {
  opacity: 0.7;
}
.main-box input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 19rem;
  height: 3rem;
  border-radius: 11px;
  background-color: #eee;
  border: 0;
  outline: none;
  padding-left: 1rem;
}
.down-box button {
  margin-right: 1.5rem;
  width: 19rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 11px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: rgb(74, 109, 255);
}
.down-box a {
  color: white;
}
/* برای قسمت سمت چپ باکس همان توضیحات  */
.every-para {
  width: 80%;
  background: linear-gradient(138deg, #4a6dff 0%, #1f4aff 100%);
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para {
  width: 27rem;
  text-align: center;
}
/* برای مراحل با اعداد بیشتر از 992 پیکسل */

.photo {
  padding-top: 1rem;
}
.matn {
  color: white;
}
.link button {
  width: 14rem;
  height: 3rem;
  border-radius: 28px;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.2) -6.84%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid white;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .page {
    height: 100vh;
    display: block;
    background-color: #ccc;
  }
  .nums {
    text-align: -webkit-center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .nums p {
    background-color: rgba(0, 0, 0, 0.6);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
  .box {
    position: unset;
  }
  .every-para {
    display: none;
  }
}
